# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv/
venv/
*.log
*.db
*.sqlite3
alembic/versions/*.py
!alembic/versions/.gitkeep

# Docker
*.pid

# Android
*.iml
.gradle/
.local.properties
.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab

# IDE
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store